*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
/* DROPDOWNMENU */
}
.dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
  }
.dropbtn {
    background-color:white;
    border-radius: 12px;
    border: none;
    margin-top: 6px;
  }
  .dropdown-content {
    border-radius: 12px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 250px;
    box-shadow: 0px 4px 8px 0px rgb(118, 118, 118);;
    z-index: 1;
    margin-top: 15px;
    float; right: 2px;
  }
  .dropdown-content a {
    color:rgb(45, 48, 52);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight:bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  #enca{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    color:dimgrey;
  }
  #derecha{
    width: 12px;
  }
  .dropdown-content a:hover {background-color:white}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: white;}
/* ENCABEZADO */
  li{
      text-align: center;
      align-items: center;
  }
  header{
    position: fixed;
    left: 20px;
    right: 20px;
    background-color:white;
    display: grid;
    height: 10%;
    z-index: 3;
    align-items: center;
}
header ul{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    list-style-type: none;
    background-color:white;
}
#logoinicio{
    height: 30px;
    width: 30px;
    display:block;
    margin:auto;
}
.inicio{
    display: grid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(45, 48, 52);
    text-decoration: none;
    text-align: center;
}
.inicio:hover {
    background: rgb(45, 48, 52);
    color: whitesmoke;
    border-radius: 12px;
}
.hoy{
    display: grid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(45, 48, 52);
    text-decoration: none;
    text-align: center;
}
.hoy:hover{
    background: rgb(45, 48, 52);
    color: whitesmoke;
    border-radius: 12px;
}
#input{
    height: 30px;
    width: 800px;
    border-radius: 12px;
    background-color: rgb(228, 228, 228);
    text-indent: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color:  rgb(45, 48, 52);
    border: 0;
    background-image:url(imagenes/lupa.png); 
    background-size: 15px;
    background-repeat: no-repeat; 
    background-position: 12px 8px;
    display:block;
    margin:auto;
}
#logocampana{
    width: 25px;
    display:block;
    margin:auto;
}
#logomensaje{
    width: 25px;
    display:block;
    margin:auto;
}
#person{
    height: 30px;
    width: 30px;
    display:block;
    margin:auto; 
}
#flechita{
    height: 15px;
    width: 15px;
    display:block;
    margin:auto;
}
  @media only screen and (max-width: 1200px){
    #input{
        height: 30px;
        width: 700px;
        border-radius: 12px;
        background-color: rgb(228, 228, 228);
        text-indent: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
        color:  rgb(45, 48, 52);
        border: 0;
        background-image:url(imagenes/lupa.png); 
        background-size: 15px;
        background-repeat: no-repeat; 
        background-position: 12px 8px;
        display:block;
        margin:auto;
    }
}
@media only screen and (max-width: 1030px){
    #input{
        height: 30px;
        width: 600px;
        border-radius: 12px;
        background-color: rgb(228, 228, 228);
        text-indent: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
        color:  rgb(45, 48, 52);
        border: 0;
        background-image:url(imagenes/lupa.png); 
        background-size: 15px;
        background-repeat: no-repeat; 
        background-position: 12px 8px;
        display:block;
        margin:auto;
    }
    .inicio{
        display: grid;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: rgb(45, 48, 52);
        text-decoration: none;
        text-align: center;
    }
    .hoy{
        display: grid;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: rgb(45, 48, 52);
        text-decoration: none;
        text-align: center;
    }
}
@media only screen and (max-width: 700px){
    #input{
        height: 30px;
        width: 250px;
        border-radius: 12px;
        background-color: rgb(228, 228, 228);
        text-indent: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
        color:  rgb(45, 48, 52);
        border: 0;
        background-image:url(imagenes/lupa.png); 
        background-size: 15px;
        background-repeat: no-repeat; 
        background-position: 12px 8px;
        display:block;
        margin:auto;
    }
}
@media only screen and (max-width: 450px){
    #input{
        height: 30px;
        width: 50px;
        border-radius: 12px;
        background-color: rgb(228, 228, 228);
        text-indent: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
        color:  rgb(45, 48, 52);
        border: 0;
        background-image:url(imagenes/lupa.png); 
        background-size: 15px;
        background-repeat: no-repeat; 
        background-position: 12px 8px;
        display:block;
        margin:auto;
    }
    .inicio{
        display: grid;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: rgb(45, 48, 52);
        text-decoration: none;
        text-align: center;
    }
    .hoy{
        display: none;
        text-align: center;
    }
}
@media only screen and (max-width: 300px){
    #input{
        height: 30px;
        width: 50px;
        border-radius: 12px;
        background-color: rgb(228, 228, 228);
        text-indent: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
        color:  rgb(45, 48, 52);
        border: 0;
        background-image:url(imagenes/lupa.png); 
        background-size: 15px;
        background-repeat: no-repeat; 
        background-position: 20px 8px;
        display:block;
        margin:auto;
    }
    .inicio{
        display: none;
        text-align: center;
    }
    .hoy{
        display: none;
        text-align: center;
    }
    #person{
        display:none;
    }
}
body{
    width: fit-content;
    height: auto;
}
.container{
    margin-top:60px;
    display: flex;
    float: left;
    flex-wrap: wrap;
}
.image-s{
    display: block;
    width: 300px;
    height: 450px;
    padding: 20px;
    border-radius: 50px;
}
.image-s:hover{
    opacity: .70;
}
.image-l{
    display: block;
    width: 300px;
    height: 550px;
    padding: 20px;
    border-radius: 50px;
}
.image-l:hover{
    transition: background-color 0.4s;
    opacity: .70;
}