/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
}
header ul{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    padding: 5px;
    list-style-type: none;
}
header ul > li {
    display: grid;
    padding: 5px;
}  
header a > i {
    margin-right: 5px;
}
#logoinicio{
    height: 40px;
    width: 40px;
}
.inicio{
    display: grid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(45, 48, 52);
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}
.inicio:hover {
    background: rgb(45, 48, 52);
    color: whitesmoke;
    border-radius: 12px;
}
.hoy{
    display: grid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(45, 48, 52);
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}
.hoy:hover{
    background: rgb(45, 48, 52);
    color: whitesmoke;
    border-radius: 12px;
}
#input{
    height: 30px;
    width: 1000px;
    border-radius: 12px;
    background-color: rgb(228, 228, 228);
    text-indent: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color:  rgb(45, 48, 52);
    border: 0;
    background-image:url(imagenes/lupa.png); 
    background-size: 15px;
    background-repeat: no-repeat; 
    background-position: 12px 8px;
}
#logocampana{
    height: 30px;
    width: 30px;
}
#logomensaje{
    height: 30px;
    width: 30px;
}
#person{
    height: 35px;
    width: 35px; 
}
#flecha{
    height: 25px;
    width: 25px;
}
@media only screen and (max-width: 1200px){
    #input{
        height: 30px;
        width: 700px;
        border-radius: 12px;
        background-color: rgb(228, 228, 228);
        text-indent: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
        color:  rgb(45, 48, 52);
        border: 0;
        background-image:url(imagenes/lupa.png); 
        background-size: 15px;
        background-repeat: no-repeat; 
        background-position: 12px 8px;
    }
}
@media only screen and (max-width: 1030px){
    #input{
        height: 30px;
        width: 600px;
        border-radius: 12px;
        background-color: rgb(228, 228, 228);
        text-indent: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
        color:  rgb(45, 48, 52);
        border: 0;
        background-image:url(imagenes/lupa.png); 
        background-size: 15px;
        background-repeat: no-repeat; 
        background-position: 12px 8px;
    }
    .inicio{
        display: grid;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: rgb(45, 48, 52);
        text-decoration: none;
        padding: 5px 3px 5px 3px;
    }
    .hoy{
        display: grid;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: rgb(45, 48, 52);
        text-decoration: none;
        padding: 5px 3px 5px 3px;
    }
}
@media only screen and (max-width: 700px){
    #input{
        height: 30px;
        width: 250px;
        border-radius: 12px;
        background-color: rgb(228, 228, 228);
        text-indent: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
        color:  rgb(45, 48, 52);
        border: 0;
        background-image:url(imagenes/lupa.png); 
        background-size: 15px;
        background-repeat: no-repeat; 
        background-position: 12px 8px;
    }
}
@media only screen and (max-width: 450px){
    #input{
        height: 30px;
        width: 50px;
        border-radius: 12px;
        background-color: rgb(228, 228, 228);
        text-indent: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
        color:  rgb(45, 48, 52);
        border: 0;
        background-image:url(imagenes/lupa.png); 
        background-size: 15px;
        background-repeat: no-repeat; 
        background-position: 12px 8px;
    }
    .inicio{
        display: grid;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: rgb(45, 48, 52);
        text-decoration: none;
        padding: 5px 0px 5px 0px;
    }
    .hoy{
        display: none;
        padding: 5px 0px 5px 0px;
    }
}
@media only screen and (max-width: 300px){
    #input{
        height: 30px;
        width: 50px;
        border-radius: 12px;
        background-color: rgb(228, 228, 228);
        text-indent: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
        color:  rgb(45, 48, 52);
        border: 0;
        background-image:url(imagenes/lupa.png); 
        background-size: 15px;
        background-repeat: no-repeat; 
        background-position: 12px 8px;
    }
    .inicio{
        display: none;
        padding: 5px 0px 5px 0px;
    }
    .hoy{
        display: none;
        padding: 5px 0px 5px 0px;
    }
    #person{
        display:none;
    }
}